#menu {
    background-color: #0b0b0b;
    width: 20%;
    height: 100vh;
}

.search {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.search input {
    height: 30px;
    width: 100%;
    border: 1px #8a8a8a solid;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
}
